<app-titulo [titulo]="'Eventos'"></app-titulo>
<hr />

<!-- Emmet atalho - form.form-inline>.form-group.mb-2  -->
<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label>
    <!-- input.form-control.mr-2[placeholder=buscar] -->
    <input
      type="text"
      class="form-control mr-2"
      placeholder="buscar"
      [(ngModel)]="filtroLista"
    />
    <!-- btn.btn.btn-outline-success -->
    <!-- <button class="btn btn-outline-success">Buscar</button> -->
  </div>
</div>
<div class="table-responsive-lg">
  <!-- table.table.table-striped>thead.thead-dark>tr>th*8 -->
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>
          <!-- (click)="exibeImg = !exibeImg" -->
          <button class="btn btn-outline-light btn-sm" (click)="exibirImg()">
            <i class="{{ exibeImg ? 'fa fa-eye-slash' : 'fa fa-eye' }}"></i>
            {{ exibeImg ? "Ocultar" : "Exibir" }}
          </button>
        </th>
        <th>#</th>
        <th>Tema</th>
        <th>Local</th>
        <th>Data</th>
        <th>Qtd Pessoas</th>
        <th>Lote</th>
        <th>Opções</th>
      </tr>
    </thead>
    <!-- tbody>tr>td*8 -->
    <tbody *ngIf="eventosFiltrados && eventosFiltrados.length > 0">
      <tr *ngFor="let evento of eventosFiltrados">
        <td>
          <img
            [collapse]="!exibeImg"
            [isAnimated]="true"
            src="/assets/{{ evento.imagemURL }}"
            [style.width.px]="larguraImg"
            [style.margin.px]="margenImg"
          />
        </td>
        <td>{{ evento.id }}</td>
        <td>{{ evento.tema }}</td>
        <td>{{ evento.local }}</td>
        <td>{{ evento.dataEvento | DateTimePipe }}</td>
        <td>{{ evento.qtdPessoas }}</td>
        <td>{{ evento.lotes[0].nome | uppercase }}</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Editar">
            <i class="fa fa-edit"></i>
          </button>
          <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModal(template)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <!-- tfoot>tr>td[colspan=8] -->
    <tfoot *ngIf="!eventosFiltrados || eventosFiltrados.length <= 0">
      <tr>
        <td colspan="8" class="text-center">
          <h5>Nenhum evento encontrado.</h5>
        </td>
      </tr>
    </tfoot>
  </table>
</div>


<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar esse evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
