<div class="d-flex p-3 my-3 text-white bg-secondary rounded shadow-sm">
  <!-- mr-auto faz a margin automática empurrando os outros itens para a direita -->
  <div class="d-flex align-items-center mr-auto">
    <i class="{{ iconClass }} mr-4"></i>
    <div>
      <h2 class="mb-0">{{ titulo }}</h2>
      <small>{{ subTitulo }}</small>
    </div>
  </div>

  <div class="p-3">
    <button
      *ngIf="exibeBotaoListar"
      class="btn btn-outline-light"
      (click)="listar()"
    >
      Listar {{ titulo }}
    </button>
  </div>
</div>
